asgiref
bleach
certifi
charset-normalizer
cloudinary
Django
django-ckeditor
django-cloudinary-storage
django-js-asset
gunicorn
idna
Pillow
psycopg2
python-decouple
requests
six
sqlparse
typing_extensions
tzdata
urllib3
webencodings
whitenoise
