asgiref==3.7.2
asn1crypto==1.5.1
bleach==6.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
cloudinary==1.33.0
Django==3.2.18
django-ckeditor==6.0.0
django-cloudinary-storage==0.3.0
django-js-asset==2.0.0
django-mysql==3.9.0
gunicorn==20.1.0
idna==3.4
mysql-client==0.0.1
mysql-connector-python==8.0.33
pg8000==1.29.8
Pillow==8.3.2
protobuf==3.20.3
PyMySQL==1.1.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
requests==2.31.0
scramp==1.4.4
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
webencodings==0.5.1
whitenoise==6.5.0
