Django==3.2.18
Pillow==9.4.0
asgiref==3.6.0
cloudinary==1.32.0
bleach==6.0.0
django-cloudinary-storage==0.3.0
django-ckeditor==6.0.0
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-summernote==0.8.20.0
gunicorn==20.1.0
itsdangerous==2.1.2
psycopg2==2.9.6
python-dateutil==2.8.2
python-decouple==3.8
pytz==2022.7.1
shortuuid==1.0.11
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
typing-extensions==4.5.0
tzdata==2022.7
ua-parser==0.16.1
user-agents==2.2.0
webencodings==0.5.1
whitenoise==6.4.0
mysqlclient
