{% load static %}

<footer>
<!-- Footer start -->
<div class="footer__area footer-bg pt-100 pb-50">
    <div class="footer__top footer__top-3 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="footer__subscribe-title wow fadeInUp" data-wow-delay="0.3s">
                        <h3>Subscribe Now</h3>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="footer__subscribe wow fadeInUp" data-wow-delay="0.6s">
                        <div class="footer__subscribe-form footer__subscribe-form-2 footer__subscribe-form-3 p-relative">
                            <input type="text" placeholder="Email Address |">
                            <button class="theme-btn">subscribe now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-70">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="footer__widget footer-1 pr-100 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="footer__widget-logo mb-35">
                        <a href="index.html"><img src="assets/img/logo/logo.png" alt="footer-logo"></a>
                    </div>
                    <p>Consequat lacinia into gravida nisie facils porto lorem ultricies vivamus maecenas one iaculis</p>
                    <ul class="footer__social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>                        
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="footer__widget footer-2 pl-60 mb-30 wow fadeInUp" data-wow-delay="0.6s">
                    <h3 class="footer__widget-title mb-35">
                        Contact Info
                    </h3>
                    <div class="footer__info">
                        <ul>
                            <li class="d-flex align-items-start">
                                <div class="footer__info-icon mr-15">
                                   <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="footer__info-text">
                                   <a target="_blank" href="https://www.google.com/maps/place/Dhaka/@23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873"><span>25/A, Broke Square <br>
                                    California</span></a>                                   
                                </div>
                             </li>
                             <li class="d-flex align-items-start">
                                <div class="footer__info-icon mr-15">
                                   <i class="far fa-envelope-open"></i>
                                </div>
                                <div class="footer__info-text">
                                   <h5>Email:</h5>
                                   <a href="https://www.devsnews.com/cdn-cgi/l/email-protection#a3cacdc5cce3cec6c4c2d9cc8dc0ccce"><span class="__cf_email__" data-cfemail="8ee7e0e8e1cee3ebe9eff4e1a0ede1e3">[email&#160;protected]</span></a>
                                </div>
                             </li>
                             <li class="d-flex align-items-start">
                                <div class="footer__info-icon mr-20">
                                   <i class="fal fa-phone"></i>
                                </div>
                                <div class="footer__info-text">
                                   <h5>Phone: </h5>
                                   <a href="tel:02(205)5552255">02 (205) 555 2255</a>
                                </div>
                             </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="footer__widget footer-3 pl-50 mb-30 wow fadeInUp" data-wow-delay="0.9s">
                    <h3 class="footer__widget-title mb-35">
                        Recent Post
                    </h3>
                    <div class="footer__blog-sm mb-25">
                        <div class="footer__blog-sm-thumb float-start mr-20">
                           <a href="blog-details.html">
                              <img src="assets/img/blog/footer-blog/f-blog-1.jpg" alt="footer-bimg">
                           </a>
                        </div>
                        <div class="footer__blog-sm-content">
                            <div class="footer__blog-sm-meta">
                                <span> 25 nov 2021</span>
                             </div>
                           <h3 class="footer__blog-sm-title">
                              <a href="blog-details.html"> Nisle metus  nam curabitur magnis nam nost</a>
                           </h3>
                        </div>
                     </div>
                     <div class="footer__blog-sm mb-25">
                        <div class="footer__blog-sm-thumb float-start mr-20">
                           <a href="blog-details.html">
                              <img src="assets/img/blog/footer-blog/f-blog-2.jpg" alt="footer-bimg">
                           </a>
                        </div>
                        <div class="footer__blog-sm-content">
                            <div class="footer__blog-sm-meta">
                                <span>25 nov 2021</span>
                             </div>
                           <h3 class="footer__blog-sm-title">
                              <a href="blog-details.html"> Magnis  nisle nam curabitur Metus nam nost</a>
                           </h3>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-coptright footer-copyright-bg pt-40 pb-40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="footer__text">
                    <p>Copyright ©2022 <a href="#">BDevs</a>. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="footer__cmenu text-end">
                    <a href="#">Terms & Conditions .</a>
                    <a href="services.html">Services .</a>
                    <a href="#">Privacy</a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>