{% load static %}

   <!-- JS here -->
   <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

   <script src="/static/assets/js/vendor/jquery.min.js"></script>
   <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
   <script src="/static/assets/js/isotope.pkgd.min.js"></script>
   <script src="/static/assets/js/slick.min.js"></script>
   <script src="/static/assets/js/swiper-bundle.js"></script>
   <script src="/static/assets/js/waypoints.min.js"></script>
   <script src="/static/assets/js/jquery.nice-select.min.js"></script>    
   <script src="/static/assets/js/venobox.min.js"></script>
   <script src="/static/assets/js/backToTop.js"></script>
   <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
   <script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
   <!-- <script src="/static/assets/js/owl.carousel.min.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



   
   <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
   <script src="/static/assets/js/ajax-form.js"></script>
   <script src="/static/assets/js/jquery.counterup.min.js"></script>
   <script src="/static/assets/js/wow.min.js"></script>
   <script src="/static/assets/js/main.js"></script>
   <script src="/static/assets/js/hero-slider-custom.js"></script>
   
   <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6495524d94cf5d49dc5f61f5/1h3jkj11c';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->