{% load static %}

   <!-- JS here -->
   <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor/jquery.min.js"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/isotope.pkgd.min.js"></script>
   <script src="assets/js/slick.min.js"></script>
   <script src="assets/js/swiper-bundle.js"></script>
   <script src="assets/js/waypoints.min.js"></script>
   <script src="assets/js/jquery.nice-select.min.js"></script>    
   <script src="assets/js/venobox.min.js"></script>
   <script src="assets/js/backToTop.js"></script>
   <script src="assets/js/jquery.meanmenu.min.js"></script>
   <script src="assets/js/imagesloaded.pkgd.min.js"></script>
   <script src="assets/js/owl.carousel.min.js"></script>
   <script src="assets/js/jquery.magnific-popup.min.js"></script>
   <script src="assets/js/ajax-form.js"></script>
   <script src="assets/js/jquery.counterup.min.js"></script>
   <script src="assets/js/wow.min.js"></script>
   <script src="assets/js/main.js"></script>
   