{% load static %}

<header class="header-area header-transparent">
    <div class="header-top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="header-top-left">
                        <span>Follow us:</span>
                        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" target="_blank"><i class="fad fa-wifi"></i></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-none d-lg-block">
                    <div class="topbar-text text-center">
                        <p>Use moosend's email marketing features for free!<a href="about.html">Read More..</a></p>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="topbar-right">
                        <span>Free Call:</span>
                        <a href="tel:+44(650)5522">+44 (650) 5522</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu header-sticky">
        <div class="custom-container">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-8">
                    <div class="header-logo ">
                        <a href="index.html"><img src="assets/img/logo/logo.png" class="img-fluid" alt="img"></a>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-4">
                    <!-- main menu -->
                    <div class="main-menu main-menu-3 d-none d-lg-block" id="white-menu">
                        <nav id="mobile-menu">
                           <ul>
                            <li class="has-dropdown">
                                <a href="index.html">Home <i class="far fa-plus"></i> </a>
                                <ul class="submenu">
                                    <li><a href="index.html">Home 01</a></li>
                                    <li><a href="index-2.html">Home 02</a></li>
                                </ul>
                             </li>
                             <li class="has-dropdown">
                                <a href="#">Pages <i class="far fa-plus"></i></a>
                                <ul class="submenu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-details.html">Team Details</a></li>
                                </ul>
                             </li>
                             <li class="has-dropdown">
                                <a href="services.html">Services <i class="far fa-plus"></i></a>
                                <ul class="submenu">
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="service-details.html">Service Details</a></li>
                                </ul>
                             </li>
                              <li class="has-dropdown">
                                 <a href="project.html">Projects <i class="far fa-plus"></i></a>
                                 <ul class="submenu">
                                     <li><a href="project.html">Projects</a></li>
                                     <li><a href="project-details.html">Project Details</a></li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                <a href="blog.html">Blog <i class="far fa-plus"></i></a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                             </li>
                              <li class="has-dropdown">
                                 <a href="contact.html">Contact</a>
                              </li>
                          </ul>
                        </nav>
                     </div>
                     <div class="header__action-item d-lg-none d-flex align-items-center justify-content-end">
                        <a href="javascript:void(0)" class="sidebar-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                         </a>
                     </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 d-none d-lg-block">
                    <div class="main-menu-wrapper d-flex align-items-center justify-content-end mb-10">
                        <div class="main-menu-wrapper__search text-left">
                        <a class="search-btn nav-search search-trigger" href="#"><i class="flaticon-search"></i> Search Here</a>
                        </div>
                        <div class="menu__cart d-none d-xxl-block">
                            <a href="contact.html"><i class="flaticon-shopping-cart"></i>Cart List</a>
                        </div>
                        <div class="menu-btn">
                            <a href="contact.html" class="theme-btn">Get Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="offcanvas-overlay"></div>
<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fal fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="Search Entire Store...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->

<!-- sidebar area start -->
<div class="sidebar__area">
        <div class="sidebar__wrapper">
            <div class="sidebar__top d-flex align-items-center mb-40">
                <div class="sidebar__close mr-35">
                    <button class="sidebar__close-btn sidebar-close">
                        <svg viewBox="0 0 22 22">
                            <path d="M12.41,11l5.29-5.29c0.39-0.39,0.39-1.02,0-1.41s-1.02-0.39-1.41,0L11,9.59L5.71,4.29c-0.39-0.39-1.02-0.39-1.41,0
                            s-0.39,1.02,0,1.41L9.59,11l-5.29,5.29c-0.39,0.39-0.39,1.02,0,1.41C4.49,17.9,4.74,18,5,18s0.51-0.1,0.71-0.29L11,12.41l5.29,5.29
                            C16.49,17.9,16.74,18,17,18s0.51-0.1,0.71-0.29c0.39-0.39,0.39-1.02,0-1.41L12.41,11z"/>
                        </svg>
                    </button>
                </div>
                <div class="logo">
                    <a href="index.html">
                    <img src="assets/img/logo/logo-black.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="sidebar__content p-relative z-index-1">
                <div class="sidebar__menu">
                    <div class="mobile-menu"></div>
                </div>
                <div class="contact-infos mb-30">
                    <div class="contact-list">
                        <h4>Contact Info</h4>
                        <ul>
                            <li><i class="flaticon-location"></i>28/4 Palmal, London</li>
                            <li><i class="flaticon-letter"></i><a href="https://www.devsnews.com/cdn-cgi/l/email-protection#6d04030b022d060108030c1f430e0200"><span class="__cf_email__" data-cfemail="c1a8afa7ae81aca4a6a0efa2aeac">[email&#160;protected]</span></a></li>
                            <li><i class="flaticon-phone-call"></i><a href="tel:02(205)5552255">02 (205) 555 2255</a></li>
                        </ul>
                        <div class="sidebar__menu--social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- sidebar area end -->
