{% load static %}

<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog - Bomach group</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "./include/head.html" %}
</head>

<body>
{% include "./include/header_others.html" %}
 
<!--    Page title area start here-->
<div class="page-title-area pt-70 pb-70" data-background="{% static 'assets/img/bomach/new/Bomach-Engineering.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title-wrapper text-center">
                    <h1 class="page-title">Blog</h1>
                    <div class="breadcrumb breadcrumb-list">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items">
                                <li  class="trail-item trail-begin">
                                    <a href="/"><span >Home</span></a>  
                                </li>
                                <li class="trail-item trail-end"><span>Blog</span></li>
                            </ul>
                        </nav>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Page title area end here-->


<!-- Blog area start here-->
<div class="blog-area pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-post-items blog-padding">
                <div class="blog__wrapper mr-50">
                    {% for i in show_blog %}
                    <article class="blog__item-2 mb-70 format-image mb-50 post-79 post">
                        <div class="blog__thumb-2 m-img">
                        <a href="/blog/{{ i.slug }}"> <img src="{{ i.image_url }}" alt="img"></a>
                        </div>
                        <div class="blog__content-2">
                            <div class="post-meta mb-20">
                                <span><i class="far fa-calendar-check"></i> {{ i.date|date:'F j, Y' }} </span>
                                <span><a href="/blog/{{ i.slug }}"><i class="far fa-user"></i> {{ i.author }}</a></span>
                            </div>
                            <h3 class="blog-title">
                            <a href="/blog/{{ i.slug }}">{{ i.title }}</a>
                            </h3>
                            <div class="post-text mb-30">
                                <p>{{ i.short_content|safe }}</p>
                            </div>
                        <!-- blog btn -->
                            <div class="blog__btn d-sm-flex justify-content-between">
                                <div class="blog__btn">
                                    <a href="/blog/{{ i.slug }}" class="theme-btn home2-btn btn-before"><i class="fal fa-angle-double-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                    <!-- <div class="basic-pagination mb-40">
                        <ul>
                            <li> 
                                <a href="blog">
                                    <i class="fal fa-long-arrow-left"></i>
                                    <i class="fal fa-long-arrow-left"></i>
                                </a>
                            </li>
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="next page-numbers" href="#"><i class="fal fa-long-arrow-right"></i><i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>			                
                    </div>		 -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <!-- <div id="search-2" class="sidebar__widget mb-50 widget_search">
                        <div class="sidebar__widget-content">
                           <div class="search">
                                <form class="sidebar-widget-form" action="https://www.devsnews.com/template/mega/mega/mail.php" method="get">
                                    <input type="text" value="" required="" name="s" placeholder="Search">
                                    <button type="submit"> <i class="far fa-search"></i>  </button>
                                </form>
                           </div>
                         </div>
                    </div> -->
                    <div id="bdevs-latest-posts-2" class="sidebar__widget mb-50 widget_bdevs-latest-posts">
                        <h4 class="sidebar__widget-title mb-50">
                            Recent News
                        </h4>     	
                        <div class="sidebar__widget-content">
                            <div class="rc-post">   
                                {% for i in blogs %}	
                                <div class="d-flex mb-20">
                                    <div class="rc-thumb mr-15">
                                        <a href="/blog/{{ i.slug }}"><div class="sidebar-posts-bg-thumb" data-background="{{ i.image_url }}"></div></a>
                                    </div>
                                    <div class="rc-text">
                                        <h6><a href="/blog/{{ i.slug }}">{{ i.title }}</a></h6>
                                        <div class="rc-meta">{{ i.date|date:'F j, Y' }} </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div> 
                        </div> 
                    </div>
                    <!-- <div id="categories-3" class="sidebar__widget mb-50 widget_categories">
                        <h4 class="sidebar__widget-title mb-50">Categories</h4>
                        <ul>
                            <li class="cat-item cat-item-10"><a href="/blog/{{ i.slug }}">App &amp; Saas</a></li>
                            <li class="cat-item cat-item-11"><a href="/blog/{{ i.slug }}">Fresh Products</a></li>
                            <li class="cat-item cat-item-8"><a href="/blog/{{ i.slug }}">Graphics</a></li>
                            <li class="cat-item cat-item-9"><a href="/blog/{{ i.slug }}">IOS/Android Design</a></li>
                            <li class="cat-item cat-item-12"><a href="/blog/{{ i.slug }}">Saas Design</a></li>
                            <li class="cat-item cat-item-6"><a href="/blog/{{ i.slug }}">Web Design</a></li>
                            <li class="cat-item cat-item-7"><a href="/blog/{{ i.slug }}">Web Development</a></li>
                        </ul>
                    </div> -->
                    
                    <!-- <div id="tag_cloud-2" class="sidebar__widget mb-50 widget_tag_cloud">
                        <h4 class="sidebar__widget-title mb-50">Tags</h4>
                        <div class="tagcloud">
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">Animation</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">Branding</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">Design</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">Ideas</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">Landing</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">Pix Saas Blog</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">The Saas</a>
                            <a href="/blog/{{ i.slug }}" class="tag-cloud-link">UI/UX</a>
                        </div>
                    </div>	            	 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog area end here-->
{% include "./include/footer.html" %}
{% include "./include/foot.html" %}

 
</body>
</html>