<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Bomach group</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "./include/head.html" %}

<style>

</style>
</head>

<body>
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span>
                <img src="assets/img/logo/bomach-logo-full.jpeg" class="img-fluid" alt="img">
            </span>
            <!-- <span></span> -->
        </div>
    </div>
    <!-- preloader end  -->

    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->

<!-- header area start here -->
<header class="header-area header-transparentsss">
    <div class="header-menu header-sticky">
        <div class="custom-container">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-8">
                    <div class="header-logo ">
                        <a href="/"><img src="assets/img/logo/bomach-logo-full.jpeg" style="max-height: 60px;" class="img-fluid" alt="img"></a>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-4">
                    <div class="main-menu main-menu-3 white-menu d-none d-lg-block" id="white-menu">
                        <nav id="mobile-menu">
                           <ul>
                             <li class="has-dropdown">
                                <a href="/">Home</a>
                             </li>
                             <li class="has-dropdown">
                                <a href="#">Who we are <i class="far fa-plus"></i></a>
                                <ul class="submenu" style="opacity: 0.8">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/team">Team</a></li>
                                </ul>
                             </li>
                            <li class="has-dropdown">
                                <a href="#">Services <i class="far fa-plus"></i></a>
                                <ul class="submenu" style="opacity: 0.8">
                                    {% for i in services %}
                                    <li><a href="/services/{{ i.slug }}">{{ i.name }}</a></li>
                                    {% endfor %}
                                </ul>
                             </li>
                             <li class="has-dropdown">
                                <a href="/project">Projects</a>
                             </li>
                             <li class="has-dropdown">
                                <a href="/blog">Blog</a>
                             </li>
                          </ul>
                        </nav>
                     </div>
                     <div class="header__action-item d-lg-none d-flex align-items-center justify-content-end">
                        <a href="javascript:void(0)" class="sidebar-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                         </a>
                     </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 d-none d-lg-block">
                    <div class="main-menu-wrapper d-flex align-items-center justify-content-end mb-10">
                        <div class="main-menu-wrapper__search text-left">
                            <!-- <span class="home-contact-nav-item">Contact us</span> -->
                            <!-- <h4><a class="home-phone-nav-item" href="tel:08036656173">080 3665 6173</a></h4> -->
                        </div>
                        <div class="menu-btn">
                            <a href="/contact" class="theme-btn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Message Notification -->
{% if messages %}

<div style="position: absolute; z-index: 10000; right: 2vh;">
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible alertDisplay" style="margin-top: 5vh; max-width: 75vw;">
      <a href="#" class="close closeAlertBtn" data-dismiss="alert" aria-label="close">&times;</a>
      {{ message }}
    </div>
{% endfor %}
</div>

{% endif %}

<div class="offcanvas-overlay"></div>
<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fal fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="Search Entire Store...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->

<!-- sidebar area start -->
<div class="sidebar__area">
        <div class="sidebar__wrapper">
            <div class="sidebar__top d-flex justify-content-between mb-40">
                <div class="logo">
                    <a href="/">
                    <img src="assets/img/logo/bomach-logo-full.jpeg" style="max-height: 60px;" alt="logo">
                    </a>
                </div>
                <div class="sidebar__close">
                    <button class="sidebar__close-btn sidebar-close">
                        <svg viewBox="0 0 22 22">
                            <path d="M12.41,11l5.29-5.29c0.39-0.39,0.39-1.02,0-1.41s-1.02-0.39-1.41,0L11,9.59L5.71,4.29c-0.39-0.39-1.02-0.39-1.41,0
                            s-0.39,1.02,0,1.41L9.59,11l-5.29,5.29c-0.39,0.39-0.39,1.02,0,1.41C4.49,17.9,4.74,18,5,18s0.51-0.1,0.71-0.29L11,12.41l5.29,5.29
                            C16.49,17.9,16.74,18,17,18s0.51-0.1,0.71-0.29c0.39-0.39,0.39-1.02,0-1.41L12.41,11z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="sidebar__content p-relative z-index-1">
                <div class="sidebar__menu">
                    <div class="mobile-menu"></div>
                </div>
                <div class="contact-infos mb-30">
                    <div class="mb-5">
                        <h6>
                            <a href="/contact" class="theme-btn">Contact us</a>
                            <!-- <span>Contact us</span>
                                <h4><a href="tel:08036656173">080 3665 6173</a></h4> -->
                        </h6>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- sidebar area end -->
<!-- header area end here -->
<section class="hero-slider hero-style">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    {% for i in home_sliders %}
      <div class="swiper-slide">
        <div class="slide-inner slide-bg-image" data-background="{{ i.image_url }}">
          <div class="container">
            <div data-swiper-parallax="300" class="slide-title">
              <h2>{{ i.big_text }}</h2>
            </div>
            <div data-swiper-parallax="400" class="slide-text">
              <p>{{ i.small_text }}</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->
      {% endfor %}
    </div>
    <!-- end swiper-wrapper -->

    <!-- swipper controls -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next emma-hero-next"><i class="fal fa-long-arrow-right"></i></div>
    <div class="swiper-button-prev emma-hero-prev"><i class="fal fa-long-arrow-left"></i></div>
  </div>
</section>
<!-- hero area end here -->

<!-- experience area start -->
<section class="experience-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title_wrapper mb-50 wow fadeInUp" data-wow-delay="0.3s">                      
                    <h2 class="section-title expricence-title">
                        What we do we do well <br> our market
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="exprience__video wow fadeInUp" data-wow-delay="0.6s">
                    <!-- <div class="expricenc__box">
                        <span class="counter">25</span>
                         <h3>Years <br> Experience</h3>
                    </div> -->
                    <img src="assets/img/exprience/ex-video.jpg" alt="ex-video.jpg">
                    <div class="exprience__video-btn">
                        <a class="play-btn popup-video" href="https://www.youtube.com/watch?v=pNje3bWz7V8"><i class="fas fa-play"></i></a>
                        <div class="play-video-text">
                            <h5>Play Video</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- experience area end -->

<!-- services area start -->
<section class="services-area pb-90">
    <div class="container">
        <div class="row">
            {% for i in services %}
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services mb-30 text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="services__icon">
                        <i class="flaticon-medal"></i>
                    </div>
                    <div class="services__content transition-3">
                        <h3 class="services__title"><a href="/services/{{ i.slug }}">{{ i.name }}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="services-area pb-90">
    <div class="container">
        <h2 class="msection-title mb-35">
            Get your <span>Free</span> Service Quote
        </h2>
        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <div class="tp-contact-form wow fadeInUp" data-wow-delay=".6s">
                <div class="row custom-mar-20">
                    <div class="col-md-6 custom-pad-20">
                        <div class="tp-contact-form-field mb-20">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-md-6 custom-pad-20">
                        <div class="tp-contact-form-field mb-20">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-6 custom-pad-20">
                        <div class="tp-contact-form-field mb-20">
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="col-md-6 custom-pad-20">
                        <div class="tp-contact-form-field mb-20">
                            {{ form.location }}
                        </div>
                    </div>
                    <div class="col-md-6 custom-pad-20 mb-20">
                        <div class="tp-contact-form-field select-field-arrow ">
                            {{ form.service }}
                        </div>
                    </div>
                    <div class="col-md-6 custom-pad-20 mb-20">
                        <div class="tp-contact-form-field select-field-arrow ">
                            {{ form.sub_service }}
                        </div>
                    </div>

                    <div class="col-md-12 custom-pad-20">
                        <div class="tp-contact-form-field mb-20">
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="col-md-12 custom-pad-20">
                        <div class="tp-contact-form-field">
                            <button type="submit" class="theme-btn home2-btn btn-before"><i class="fal fa-angle-double-right"></i> Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- services area end -->

<!-- services Expricence area start -->
<section class="service-experience services-ex-bg pt-120 pb-275">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="service-ex__thumb mb-50 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="assets/img/services-ex/services-ex-1.jpg" alt="service-ex-img">
                    <div class="service-ex__thumb-bottom">
                        <img src="assets/img/services-ex/services-ex-2.jpg" alt="ex-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="services-expricence-right mt-10">
                    <div class="section_title_wrapper mb-40 wow fadeInUp" data-wow-delay="0.3s">
                        <span class="subtitle service-ex-subtitle">
                            Service Experience
                        </span>                       
                        <h2 class="section-title services-ex-title mb-20">
                            EXPERIENCE EXCELLENCE WITH US
                        </h2>
                        <div class="section-subtitle ex-subtitle">
                            <p>With
                            decades of experience and a team of industry
                            professionals, we are committed to delivering
                            optimum output and efficient results in all our
                            project endeavours.</p>
                        </div>
                    </div>
                    <div class="mg-skill--content wow fadeInUp" data-wow-delay="0.6s">
                        {% for i in services %}
                        <div class="mg-skill__wrapper {% if not forloop.last %} mb-40 {% endif %}">
                            <div class="mg-skill--title__wrapper">
                                <h5 class="mg-skill--title heading-color-black">{{ i.name }}</h5>
                                <span style="left:85%">{{ i.rating }}%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s" role="progressbar" style="width: {{ i.rating }}%; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: slideInLeft;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span></span></div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services Expricence area end -->

<!--histry-summery area start -->
<section class="histry-summery pb-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="section_title_wrapper mb-35">
                    <span class="subtitle service-ex-subtitle">
                        history summery
                    </span>                       
                    <h2 class="section-title services-ex-title">
                        Our Journey
                    </h2>
                </div>
               <div class="success pt-60 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="success__single d-flex align-items-center mb-40">
                        <div class="success__single-icon success__single-icon-none mr-30 ">
                            <a href="about"><i class="flaticon-office-building"></i></a>
                        </div>
                        <div class="success__single-text">
                            <span>may - 1990</span>
                            <h5 class="success-title mb-10"> <a href="about">company founded</a></h5>
                            <p> Posuere posuere interdum habitant gravida platea vestibulum sociis coramoni gold biking deck tempor.</p>
                        </div>
                    </div>
                    <div class="success__single d-flex align-items-center mb-40">
                        <div class="success__single-icon mr-30">
                            <a href="about"><i class="flaticon-trophy"></i></a>
                        </div>
                        <div class="success__single-text">
                            <span>oct - 2015</span>
                            <h5 class="success-title mb-10"> <a href="about">Award winning</a></h5>
                            <p>Biking deck tempor interdum habitant gravida platea vestibulum sociis posuere posuere coramoni gold.</p>
                        </div>
                    </div>
                    <div class="success__single d-flex align-items-center mb-40">
                        <div class="success__single-icon mr-30">
                            <a href="about"><i class="flaticon-famous"></i></a>
                        </div>
                        <div class="success__single-text">
                            <span>feb - 2021</span>
                            <h5 class="success-title mb-10"> <a href="about">popular Company</a></h5>
                            <p>Vestibulum sociis interdum habitant gravida platea posuere posuere coramoni gold biking deck tempor.</p>
                        </div>
                    </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="histry-right pl-70 pt-10">
                    <div class="histry-button">
                        <span class="histry-btn theme-bg">Contact us</span>
                    </div>
                    <div class="project__quoite">
                        <div class="project__thumb">
                            <img src="assets/img/success/quoite-1.jpg" alt="">
                            <div class="project__thumb-content">
                                <h2>Start  your <br>
                                projcet</h2>
                                <div>
                                    <h4 class="text-white">Need our services</h4>
                                    <h2 class="">
                                        <a href="/contact" class="theme-btn">Contact us</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!--histry-summery end start -->

<!--popular-services area start -->
<section class="popular-services pt-110 pb-90 gry-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s">
                    <span class="subtitle price-sb-title">
                        Blog post
                    </span>                       
                    <h2 class="section-title section-title-black">
                        Checkout our blog
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in blogs3 %}
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="popular__services mb-30 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="popular__services-thumb p-relative">
                        <img src="{{ i.image_url }}" alt="img not found">
                        <div class="popular__services-thumb-title">
                           <h5><a href="blog/{{ i.slug }}">{{ i.title }}</a></h5>
                        </div>
                        <div class="popular__services-thumb-text text-center">
                            <div class="popular__services-thumb-text-icon mb-30">
                                <a href="blog/{{ i.slug }}"><i class="flaticon-robot-arm"></i></a>
                            </div>
                            <div class="popular__services-thumb-text-content transition-3">
                                <h3 class="services__title"><a href="blog/{{ i.slug }}">{{ i.title }} </a></h3>
                                <p class="text-ellipsis-hidden">{{ i.short_content|safe }}...</p>
                                <div class="popular__services-thumb-text-button">
                                    <a href="blog/{{ i.slug }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--popular-services area end -->

<!--recent project area start here -->
<div class="recent-project-area theme-bg p-relative pt-120 pb-1 fix" >
    <div class="thumb-left">
    <img src="assets/img/recent-project/reect-project1.jpg" alt="img not found">
    </div>
    <div class="custom-container">
        <div class="row">
            <div class="col-xxl-4">
                <div class="recent-project-thumb">
                    <div class="section_title_wrapper mb-50 fadeInUp" data-wow-delay="0.3s">
                        <span class="subtitle service-ex-subtitle">
                        recent Project
                        </span>                       
                        <h2 class="section-title custom-size white-color mb-15">
                        Every Project <br> is important for <br> our team
                        </h2>
                        <div class="section-subtitle custom-subtitle mb-40">
                            <p class="white-color">your one-stop solution for
                                real estate services, land services,
                                engineering, digital innovation, and food
                                production.</p>
                        </div>
                        <div class="recent-project-button mb-1">
                            <a href="/project" class="theme-btn">All Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-ex-bg">

<div class="p-relative pt-20 pb-20" style="background: #4c4c9c;">
<div class="pl-20 pr-20">
    <div id="owl-demo-emma" class="owl-carousel owl-theme">
        
      {% for i in projects %}      
      <div class="item" style="height: 400px; width: auto"><img src="{{ i.image_url }}" style="object-fit: cover; width: 100%; height: 100%"  class="img-fluid" alt="img"></div>
      {% endfor %}
     
    </div>

</div>
</div>
</div>
<!-- 
</div>
</div>
</div> -->
<!--recent project area end -->

<!--service Achievement area start -->
<section class="service-achievement pt-110 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s">
                    <span class="subtitle price-sb-title">
                        our Products
                    </span>                       
                    <h2 class="section-title section-title-black">
                        Some of  Products
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="sr-achievement__thumb d-flex p-relative mb-30 wow fadeInUp" data-wow-delay="0.3s">

                    {% for row in products_2_grid %}
                    <div class="sr-achievement__thumb-{% if forloop.counter == 1 %}left mr-20 {% else %}right {% endif %}">
                    {% for i in row %}
                        <div class="sr-achievement__thumb-{% if forloop.counter == 3 %}right-img1 {% else %}left-img1 {% endif %} {% if forloop.counter == 1 or forloop.counter == 3 %} mb-20 {% endif %}">
                            <div style="max-height: 300px; max-width: 300px;">
                            <img src="{{ i.image_url }}" style="object-fit: cover; width: 100%; height: 100%;" alt="{{ i.name }}"></div>
                        </div>
                    {% endfor %}
                    </div>
                    {% endfor %}

                    <!-- <div class="achievement-batch">
                        <img src="assets/img/services-acive/arrd.png" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="business-quality-group ml-30 pr-100">
                    {% for row in products_2_grid %}
                    {% for i in row %}
                    <div class="business-quality wow fadeInUp" data-wow-delay="0.3s">
                        <div class="success__single d-flex  mb-30">
                            <div class="success__single-icon2 mt-10 mr-35">
                                <a href="/product/{{ i.slug }}">
                                    <div style="height: 100px; width: 100px;"><img src="{{ i.image_url }}" style="width: 100%; height:100%; object-fit: cover;" alt="{{ i.name }}"></div></i>
                                </a>
                            </div>
                            <div class="success__single-text success__single-text2">
                                <h5 class="success-title mb-15"> <a href="/product/{{ i.slug }}">{{ i.name }}</a></h5>
                                <p>{{ i.short_content|safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--service Achievement area end -->

<!-- Client Reviews area start -->
<section class="client-reviews-area services-ex-bg pt-110 pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 p-relative mb-40">
                <div class="section_title_wrapper mb-25 wow fadeInUp" data-wow-delay="0.3s">
                    <span class="subtitle service-ex-subtitle">
                        Client feedback
                    </span>                       
                    <h2 class="section-title services-ex-title">
                        Happy customer says <br> about bomach group
                    </h2>
                </div>
                <div class="client-active swiper-container wow fadeInUp" data-wow-delay="0.6s">
                    <div class="swiper-wrapper">
                        {% for i in happy_customer %}
                        <div class="client swiper-slide">
                            <div class="testimonial-text mb-50">
                                <p>{{ i.review }}</p>
                            </div>
                            <div class="testimonial-author d-flex align-items-center">
                                <div class="testimonial-author-icon mr-30">
                                    <i class="fal fa-quote-left"></i>
                                </div>
                                <div class="testimonial-author-text">
                                    <h5 class="uppercase">{{ i.name }}</h5>
                                    <span>{{ i.occupation }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="tp-testimonial-slider-arrow wow fadeInUp" data-wow-delay="0.6s">
                    <div class="testimonial-button-next swiper-button-next"><i class="fal fa-long-arrow-left"></i></div>
                    <div class="testimonial-button-prev swiper-button-prev">  <i class="fal fa-long-arrow-right"></i></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="achievement-group ml-100">
                    <div class="achievement-item mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <ul class="achievement-item-box d-flex align-items-center">
                            <li><i class="flaticon-support"></i>
                            </li>
                            <li><h2 class="counter-count"><span class="counter">{{ employees_count }}</span>+</h2>
                                <p class="counter-title">expert employee</p>
                            </li>
                        </ul>
                    </div>
                    <div class="achievement-item mb-30 wow fadeInUp" data-wow-delay="0.6s">
                        <ul class="achievement-item-box d-flex align-items-center">
                            <li><i class="flaticon-medal"></i>
                            </li>
                            <li><h2 class="counter-count"><span class="counter">{{ project_count }}</span>+</h2>
                                <p class="counter-title">Completed Project</p>
                            </li>
                        </ul>
                    </div>
                    <div class="achievement-item wow fadeInUp" data-wow-delay="0.9s">
                        <ul class="achievement-item-box d-flex align-items-center">
                            <li><i class="flaticon-recovered"></i>
                            </li>
                            <li><h2 class="counter-count"><span class="counter">{{ happy_customer.count }}</span>+</h2>
                                <p class="counter-title">Happy customer</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- brand area end here -->
 <div class="brand-area pt-120 pb-120">
    <div class="container">

            <div id="owl-demo-partners-emma" class="owl-carousel owl-theme">
        
          {% for i in partners %}      
          <div class="item"><img src="{{ i.image_url }}" style="max-height: 200px; max-width: 200px" class="img-fluid" alt="img"></div>
          {% endfor %}
         
        </div>
    </div>
</div>
<!-- brand area start here -->

{% include "./include/footer.html" %}
{% include "./include/foot.html" %}

<script>
    $(document).ready(function() {
 
  $("#owl-demo-emma").owlCarousel({
        items:2,
        loop:true,
        margin:10,
        autoplay:true,
        autoplayTimeout:1000,
        autoplayHoverPause:true,
        navText: [
          '<div class="emma-owl-project-button-next"><i class="fal fa-long-arrow-left"></i></div>',
          '<div class="emma-owl-project-button-prev"><i class="fal fa-long-arrow-right"></i></div>'
        ],
        nav: false,
        dots: true,
        responsive: {
          0: {
            items: 1
          },
          767: {
            items: 2
          },
          992: {
            items: 3
          },
        }
    });

    $("#owl-demo-partners-emma").owlCarousel({
        items: 4,
        loop:true,
        margin:30,
        autoplay:true,
        autoplayTimeout:1000,
        autoplayHoverPause:true,
        navText: [
          '<div class="emma-owl-project-button-next"><i class="fal fa-long-arrow-left"></i></div>',
          '<div class="emma-owl-project-button-prev"><i class="fal fa-long-arrow-right"></i></div>'
        ],
        nav: false,
        dots: true,
        responsive: {
          0: {
            items: 1
          },
          767: {
            items: 2
          },
          992: {
            items: 3
          },
          1199: {
            items: 4
          },
          1399: {
            items: 4
          }
        }
    });
 
});
</script>

<script>
    $(document).ready(function() {
    $('#id_service').change(function() {
        var service_id = $(this).val();

        // Get the CSRF token value
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            url: '/get-sub-service',
            type: 'POST',
            data: {
                'service_id': service_id,
                'csrfmiddlewaretoken': csrftoken
            },
            success: function(data) {
                var childField = $('#id_sub_service');
                childField.empty();

                for (var i = 0; i < data.length; i++) {
                    var option = $('<option selected>').val(data[i].id).text(data[i].name);
                    if (i != 0){
                        // option.attr('selected', '');
                        option.removeAttr('selected')
                    }
                    childField.append(option);
                }

                var niceSelect = $('.nice-select:eq(1)');

                ul = niceSelect.children('.list').children();
                niceSelect.children('.current').text('')

                for (i=0; i < ul.length; i++){
                    ul.eq(i).remove()
                }

                try {
                    niceSelect.children('.current').text(data[0].name)
                    niceSelect.children('.list')

                    for (var i = 0; i < data.length; i++) {
                        var li = $('<li>').text(data[i].name);
                        li.addClass('option');
                        li.attr('data-value', `${data[i].id}`);
                        if (i == 0){
                            li.addClass('selected');
                        }
                        console.log(li);
                        niceSelect.children('.list').append(li);
                    }
                    
                    console.log(niceSelect.children('.list'), 'chi')
                }catch (e){
                    console.log('empty data')
                }

                // <li data-value="1" class="option selected">ihjsdhjdsjkd</li>
            }
        });
    });
});

</script>  

<script>

var validOptions = [
    {% for item in valid_options %}
      "{{ item }}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
  ];

console.log(validOptions)
niceSelectUl = $('.nice-select:eq(1)').children('.list').children();

niceSelectUl.each(function() {
  var liText = $(this).text().trim();
    console.log(liText, 'emmaaaa')
  // Check if the <li> text is not in the validOptions
  if (validOptions.indexOf(liText) === -1) {
    $(this).remove(); // Remove the unmatched <li> element
  }
});
</script>
</body>

<script>
// $(document).ready(function() {
 
//   $("#owl-demo").owlCarousel({
 
//       autoPlay: 3000, //Set AutoPlay to 3 seconds
 
//       items : 4,
//       itemsDesktop : [1199,3],
//       itemsDesktopSmall : [979,3]
 
//   });
 
// });
</script>

</html>