
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mega - Industry And Factory HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "./include/head.html" %}

</head>

<body>
{% include "./include/header_others.html" %}

<!-- page title area start here-->
<div class="page-title-area pt-170 pb-175" data-background="assets/img/bg/page-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title-wrapper text-center">
                    <h1 class="page-title">Project Details</h1>
                    <div class="breadcrumb breadcrumb-list">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items">
                                <li  class="trail-item trail-begin">
                                    <a href="/"><span >Home</span></a>  
                                </li>
                                <li class="trail-item trail-end"><span>Service Details</span></li>
                            </ul>
                        </nav>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end here-->

<!-- service details area start here -->
<section class="service-details-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service__sidebar mb-50">
                    <div class="service__sidebar--widget tp-faqs-left-sidebar grey-soft-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <h4 class="service__sidebar--widget__title">Project Info</h4>
                        <ul>
                            <li>Name : <span>Daniel Samuels</span></li>
                            <li>Date : <span>03 January, 2022</span></li>
                            <li>Service : <span>Chemical Industry</span></li>
                            <li>Budget : <span>$300-$450</span></li>
                            <li>Feedback : <span>Happy Client</span></li>
                        </ul>
                    </div>
                    <!-- <div class="service__sidebar--widget grey-soft-bg mb-30 wow fadeInUp"  data-wow-delay=".6s">
                        <ul class="service__sidebar--widget__links">
                            <li><a href="#">Civil Engineering <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="#">Mechanical Works <i class="fal fa-angle-right"></i></a></li>
                            <li class="fix-colorservice"><a href="#" >Chemical Industry<i class="fal fa-angle-right"></i></a></li>
                            <li><a href="#">Petroleum Refinery <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="#">Power & Energy <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="#">Bridge Construction <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="service-details-wrapper mb-50">
                    <h4 class="service-details-subtitle mb-20 wow fadeInUp"  data-wow-delay=".9">Chemical Industry</h4>
                    <p class="mb-30 wow fadeInUp"  data-wow-delay=".7s">Consectetuer elementum ipsum habitant platea consectetuer, ridiculus gravida ultrices orci diseu son ciosqu dapibus nec mus metus parturient tincidunt adipiscing. Venenatis feugiat. Senectus, lorem ullam corper dui parturient habitasse proin. Faucibus mollis. Ultrices cubilia amet dignissim facilisi lacus ullam corper, mollis donec tempus mattis risus ascetur varius proin mollis magnis malesuada turpis hymenae os elementum. Risus urna maecenas iaculis nec bibendum habitant nonummy sodales, convallis curabi tur. Dignissim dis imperdiet varius hymenaeos interdum eleifend.</p>
                    <div class="service-details mb-30 fix wow fadeInUp"  data-wow-delay=".5s">
                        <img src="assets/img/services-ex/service-details.jpg" class="img-fluid" alt="img">
                    </div>
                    <p class="mb-30 wow fadeInUp"  data-wow-delay="1.1s">Ridiculus gravida ultrices orci diseu son ciosqu dapibus nec mus metus parturient tincidunt adipiscing Venenatis feugiat. Senectus, lorem ullam corper dui parturient habitasse proin. Faucibus mollis. Ultrices cubilia amet dignissim facilisi lacus ullam corper mollis donec tempus mattis risus ascetur varius proin mollis magnis malesuada turpis hymenae os elementum.</p>
                    <h4 class="service-details-subtitle mb-20 wow fadeInUp"  data-wow-delay=".9">Chemical Industry</h4>
                    <p class="mb-30 wow fadeInUp"  data-wow-delay=".7s">Consectetuer elementum ipsum habitant platea consectetuer, ridiculus gravida ultrices orci diseu son ciosqu dapibus nec mus metus parturient tincidunt adipiscing. Venenatis feugiat. Senectus, lorem ullam corper dui parturient habitasse proin. Faucibus mollis. Ultrices cubilia amet dignissim facilisi lacus ullam corper, mollis donec tempus mattis risus ascetur varius proin mollis magnis malesuada turpis hymenae os elementum. Risus urna maecenas iaculis nec bibendum habitant nonummy sodales, convallis curabi tur. Dignissim dis imperdiet varius hymenaeos interdum eleifend.</p>
                    <div class="tp-service-details-img mb-30 position-relative">
                        <img src="assets/img/services-ex/service-details.jpg" alt="img not found">
                        <div class="tp-service-details-img-overlay">
                            <div class="tp-service-details-img-overlay-icon">
                                <a class="venobox vbox-item" data-autoplay="true" data-vbtype="video" href="https://youtu.be/o4GuSJYSzrY"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="tp-service-details-img mb-30">
                                <img src="https://devsnews.com/template/mega/mega/assets/img/project/project-2.jpg/" alt="img not found">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="tp-service-details-img mb-30">
                                <img src="https://devsnews.com/template/mega/mega/assets/img/project/project-3.jpg/" alt="img not found">
                            </div>
                        </div>
                    </div>
                    <p class="mb-25 d-flex"><i class="far fa-check-circle"></i> Imperdiet. Iaculis bibendum platea feugiat erat commodo maecenas sociosqu varius nunc litora fringilla Tincidunt ad neque vitae duis mus phasellus pede rutrum rutrum massa dis purus magnis senectus ridiculus vestibulum. Cursus accumsan praes tesque massa consectetuer etiam laoreet velit sagittis erat Inceptos</p>
                    <p class="d-flex m-0"><i class="far fa-check-circle"></i> Commodo maecenas sociosqu, varius nunc litora fringilla Tincidunt ad neque vitae duis mus phasellus pede rutrum rutrum massa  purus magnis senectus ridiculus vestibulum praes tesque massa consectetuer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service details area end here -->

{% include "./include/footer.html" %}
{% include "./include/foot.html" %}

</body>
</html>